<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>
    <div id='title'>
        偶然詩歌　n人m首
        <input type='checkbox' id='checkbox' />
    </div>
    <div id='main'>
    <div id='vert'>
        <div class='element' style='background: none; border: none; box-shadow: none; width: 100vw;'>
        </div>
        <div class='element'>
            <div class='text'>
                <span>春過ぎて</span>
                <span>夏来にけらし</span>
                <span>白妙の</span>
                <span>衣干すてふ</span>
                <span>天の香具山</span>
                <div class='sign'>
                    <a href='https://ja.wikipedia.org/wiki/%E6%8C%81%E7%B5%B1%E5%A4%A9%E7%9A%87' target='_blank' rel='nofollow'>
                        ＠Ｊｉｔｏ―ｔｅｎｎｏ
                        <img src='https://upload.wikimedia.org/wikipedia/commons/5/52/Empress_Jit%C5%8D.jpg' />
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>